.playground {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #2a2a2a;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.formGroup input {
  width: 100%;
  padding: 0.25rem;
  background-color: #333;
  border-color: #555;
  font-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #66ccbe;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #7c59fd;
  margin-bottom: 2rem;
}

.url, .response, .error {
  margin-top: 1rem;
}

.url pre, .response pre, .error pre {
  background-color: #2a2a2a;
  border-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
}